
<button class="file-google-button" type="button" id="id_import_file">Select a file ...</button>
<span class="file-google-span" id="id_import_file_span">No file selected.</span>

<input type="file" style="display: none" name="import_file" id="id_import_file_os_file" class="os-file">

<input type="hidden" name="google_file_id" class="google-file" id="id_import_file_google_id">
<input type="hidden" name="oauth_token" class="google-file" id="id_import_file_google_oauth_token">
<input type="hidden" name="is_google" class="google-file" id="id_import_file_is_google">
